@model IEnumerable<LabProjeto.Models.JogoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Jogos Comprados</h1>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Plataforma</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var jogo in Model) {
        <tr>
                <td>@jogo.Nome</td>
                <td>@jogo.Preco</td>
                <td>@jogo.plataforma</td>
            <td>
                <a asp-action="Edit" asp-route-id="@jogo.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@jogo.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@jogo.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
