@model IEnumerable<LabProjeto.Models.PerfilJogos>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Jogos Comprados</h1>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Plataforma</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var perfilJogos in Model) {
        <tr>
                <td>@perfilJogos.jogo.Nome</td>
                <td>@perfilJogos.jogo.Preco</td>
                <td>@perfilJogos.jogo.plataforma</td>
            <td>
                <a asp-action="Edit" asp-route-id="@perfilJogos.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@perfilJogos.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@perfilJogos.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
