@model IEnumerable<LabProjeto.Models.PerfilCategoria>

<h1>Lista de Categorias Favoritas</h1>

<p>
    <a asp-action="Create">Adicionar Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
 <tbody>
@foreach (var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem =>item.categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.Descricao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
